@model RealtyWebApp.DTOs.PayStack.TransferRequest

@{
    ViewBag.Title = "Add Account";
    Layout = "_RealtorLayout";
}


<div class="card-content">
    <form method="post" asp-controller="Realtor" asp-action="AddAccountDetails">
        <div class="field">
            <label asp-for="AccountName" class="label"></label>
            <input asp-for="AccountName" class="input" type="text"  required >
        </div>
        <div class="field">
            <label asp-for="AccountNo" class="label"></label>
            <input  class="input" asp-for="AccountNo" type="text" required >
        </div>
        <div class="field">
            <label asp-for="BankCode" class="label"></label>
            <select asp-for="BankCode"  id="banks" required class="form-control">
            </select>
        </div>
          <div class="form-group ">
             <input  type="submit" value="Submit" class="btn btn-success trigger-btn col-sm-12" data-toggle="modal"/>
         </div>       
    </form>
</div>
<script >
 let allBank = async ()=>{
     let bank_url = await fetch("https://api.paystack.co/bank");
     const response = await bank_url.json();
     console.log(response);
     const select = document.querySelector('#banks');
     response.data.forEach(x =>select.innerHTML +=`<option value="${x.code}">${x.name}</option>`)
 }
allBank();
</script>

